### CSDA 1120 - Group 4 - Sprint 2 - Scenario 3

## 1. Preparing System

##### Install pymongo --> python -m pip install pymongo==3.12.0 On AC prompt shell
##### Import the MongoClient class from the pymongo library, to interact with a MongoDB database from Python.


### Install The Following Libraries
##### Pymongo, MongoClient, Pandas, Json, Pprint

In [21]:
from pymongo import MongoClient
from pandas import json_normalize
import json
from pprint import pprint as pp
import pandas as pd

##### Connect to studio 3T mongoDB Database from python

In [22]:
client = MongoClient ('mongodb://34.171.140.166:27017/Scenario3')

In [23]:
db=client.Scenario3
print (db)

Database(MongoClient(host=['34.171.140.166:27017'], document_class=dict, tz_aware=False, connect=True), 'Scenario3')

##### Use Mongoclient and cursor to connect to "restaurants.db"

In [24]:
with client:
    db = client.Scenario3
    #getCollection("restaurants")
    qresult1 = db.restaurants.find()
    print(type(qresult1))

<class 'pymongo.cursor.Cursor'>

##### Query and create a dataframe from "restaurants.db" as "df".

##### Normalize the dataframe into "df2"

In [25]:
res=list(qresult1)

df = pd.DataFrame.from_records(res)

df2 = pd.DataFrame.from_records(json_normalize(res))

# 1. Data Exploration

In [26]:
df2.describe()

,_id,borough,cuisine,grades,name,restaurant_id,address.building,address.coord,address.street,address.zipcode
count,25359,25359,25359,25359,25359,25359,25359,25359,25359,25359
unique,25359,6,85,23121,20470,25359,7990,22103,2790,213
top,646a22f720cec63db35433b0,Manhattan,American,[],Subway,30075445,1,"[-73.77813909999999, 40.6413111]",Broadway,10003
freq,1,10259,6183,738,421,1,209,84,928,686

In [29]:
df.columns

Index(['_id', 'address', 'borough', 'cuisine', 'grades', 'name',
       'restaurant_id'],
      dtype='object')

In [31]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25359 entries, 0 to 25358
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               25359 non-null  object
 1   borough           25359 non-null  object
 2   cuisine           25359 non-null  object
 3   grades            25359 non-null  object
 4   name              25359 non-null  object
 5   restaurant_id     25359 non-null  object
 6   address.building  25359 non-null  object
 7   address.coord     25359 non-null  object
 8   address.street    25359 non-null  object
 9   address.zipcode   25359 non-null  object
dtypes: object(10)
memory usage: 1.9+ MB

# 2. Business Objectives
  #### 1.Optimize current restaurant locations/market presence based on demand.
  #### 2. Expand restaurant locations

# 3. Decisions

 1. Analyze the the performance of specific cuisine categories in specific locations and tailor the menu offerings and restaurant elements of current restaurant locations accordingly to maximize success.
 
 
 2. Develop targeted marketing campaigns and promotions that highlight the popular cuisine categories and their associated locations to attract customers.
 
 
 3. Asses the New York restaurant market, to find potential opportunities for new restaurant locations.

# 4. Business Questions

1. What are the best and worst performing cuisine categories in New york? 


2. Which boroughs show the most demand for specific cuisine categories, and how can our current restaurants be tailored to optimize for those cuisine categories in their respective locations?


3. What location would be the best choice for opening a new restaurant in New york?

# 5. Database Queries
   
   ### Q1: What are the best and worst performing cuisine categories in New york?

In [35]:
df2.head(10)

,_id,borough,cuisine,grades,name,restaurant_id,address.building,address.coord,address.street,address.zipcode
0,646a22f720cec63db35433b0,Bronx,Bakery,"[{'date': 2014-03-03 00:00:00, 'grade': 'A', '...",Morris Park Bake Shop,30075445,1007,"[-73.856077, 40.848447]",Morris Park Ave,10462
1,646a22f720cec63db35433b1,Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340,469,"[-73.961704, 40.662942]",Flatbush Avenue,11225
2,646a22f720cec63db35433b2,Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841,351,"[-73.98513559999999, 40.7676919]",West 57 Street,10019
3,646a22f720cec63db35433b3,Brooklyn,American,"[{'date': 2014-06-10 00:00:00, 'grade': 'A', '...",Riviera Caterer,40356018,2780,"[-73.98241999999999, 40.579505]",Stillwell Avenue,11224
4,646a22f720cec63db35433b4,Queens,Jewish/Kosher,"[{'date': 2014-11-24 00:00:00, 'grade': 'Z', '...",Tov Kosher Kitchen,40356068,97-22,"[-73.8601152, 40.7311739]",63 Road,11374
5,646a22f720cec63db35433b5,Queens,American,"[{'date': 2014-11-15 00:00:00, 'grade': 'Z', '...",Brunos On The Boulevard,40356151,8825,"[-73.8803827, 40.7643124]",Astoria Boulevard,11369
6,646a22f720cec63db35433b6,Staten Island,Jewish/Kosher,"[{'date': 2014-10-06 00:00:00, 'grade': 'A', '...",Kosher Island,40356442,2206,"[-74.1377286, 40.6119572]",Victory Boulevard,10314
7,646a22f720cec63db35433b7,Brooklyn,Delicatessen,"[{'date': 2014-05-29 00:00:00, 'grade': 'A', '...",Wilken'S Fine Food,40356483,7114,"[-73.9068506, 40.6199034]",Avenue U,11234
8,646a22f720cec63db35433b8,Brooklyn,American,"[{'date': 2014-07-18 00:00:00, 'grade': 'A', '...",Regina Caterers,40356649,6409,"[-74.00528899999999, 40.628886]",11 Avenue,11219
9,646a22f720cec63db35433b9,Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731,1839,"[-73.9482609, 40.6408271]",Nostrand Avenue,11226

In [89]:
with client:
    db = client.Scenario3
    qresult = db.restaurants.aggregate([
        {"$match": {"borough": {"$in": ["Brooklyn", "Manhattan", "Staten Island", "Bronx", "Queens"]}, "cuisine": {"$ne": None}}},
        {"$group": {
            "_id": "$cuisine",
            "avg_score": {"$avg": "$grades.score"},
            "recent_score": {"$first": "$grades.score"},
            "recent_grade": {"$first": "$grades.grade"}
        }},
        {"$project": {
            "cuisine": "$_id",
            "avg_score": {"$ifNull": ["$avg_score", 0]},
            "recent_score": 1,
            "recent_grade": 1,
            "_id": 0
        }},
        {"$sort": {"avg_score": -1}}
    ])

    for result in qresult:
        cuisine = result['cuisine']
        avg_score = result['avg_score']
        recent_score = result['recent_score']
        recent_grade = result['recent_grade']
        
        print(f"Cuisine: {cuisine}")
        print(f"Average Score: {avg_score}")
        print(f"Recent Score: {recent_score}")
        print(f"Recent Grade: {recent_grade}")
        print("------------------------")

Cuisine: Bagels/Pretzels
Average Score: 0
Recent Score: [10, 23, 10, 27, 27, 18]
Recent Grade: ['A', 'B', 'A', 'B', 'B', 'B']
------------------------
Cuisine: Caribbean
Average Score: 0
Recent Score: [2, 7, 11, 12]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Seafood
Average Score: 0
Recent Score: [16, 12, 11, 7, 12]
Recent Grade: ['B', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Soups & Sandwiches
Average Score: 0
Recent Score: [7, 10, 5, 12]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Scandinavian
Average Score: 0
Recent Score: [11, 13, 10]
Recent Grade: ['A', 'A', 'A']
------------------------
Cuisine: Hamburgers
Average Score: 0
Recent Score: [8, 23, 12, 12]
Recent Grade: ['A', 'B', 'A', 'A']
------------------------
Cuisine: Irish
Average Score: 0
Recent Score: [2, 11, 12, 12]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Russian
Average Score: 0
Recent Score: [13, 18, 26, 24]
Recent Grade: ['A', 'B', 'B', 'B']
------------------------
Cuisine: Egyptian
Average Score: 0
Recent Score: [10, 7, 7, 23, 11, 12]
Recent Grade: ['A', 'A', 'A', 'B', 'A', 'A']
------------------------
Cuisine: Sandwiches/Salads/Mixed Buffet
Average Score: 0
Recent Score: [3, 3, 0, 12, 5]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Hotdogs
Average Score: 0
Recent Score: [7, 8, 20, 13, 13, 7]
Recent Grade: ['A', 'A', 'B', 'A', 'A', 'A']
------------------------
Cuisine: Middle Eastern
Average Score: 0
Recent Score: [11, 7, 12]
Recent Grade: ['A', 'A', 'A']
------------------------
Cuisine: Portuguese
Average Score: 0
Recent Score: [13, 8, 19, 14, 13]
Recent Grade: ['A', 'P', 'B', 'B', 'A']
------------------------
Cuisine: Other
Average Score: 0
Recent Score: [9, 2]
Recent Grade: ['A', 'A']
------------------------
Cuisine: CafÃ©/Coffee/Tea
Average Score: 0
Recent Score: [17, 15, 9, 12]
Recent Grade: ['B', 'B', 'C', 'A']
------------------------
Cuisine: Cajun
Average Score: 0
Recent Score: [13, 9, 12, 8]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Chicken
Average Score: 0
Recent Score: [10, 13, 13, 11, 10, 7]
Recent Grade: ['A', 'A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Turkish
Average Score: 0
Recent Score: [9, 13, 9, 11]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Brazilian
Average Score: 0
Recent Score: [4, 9, 2, 2]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Fruits/Vegetables
Average Score: 0
Recent Score: [4, 12, 12, 5]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: American
Average Score: 0
Recent Score: [5, 7, 12, 12]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Moroccan
Average Score: 0
Recent Score: [7, 5, 2, 13, 27, 7]
Recent Grade: ['A', 'A', 'A', 'A', 'B', 'A']
------------------------
Cuisine: Korean
Average Score: 0
Recent Score: [17, 30, 13, 11, 20, 13]
Recent Grade: ['Z', 'C', 'A', 'A', 'B', 'A']
------------------------
Cuisine: Sandwiches
Average Score: 0
Recent Score: [4, 12, 5, 4]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Chinese/Cuban
Average Score: 0
Recent Score: [15, 7, 5]
Recent Grade: ['B', 'A', 'A']
------------------------
Cuisine: Indonesian
Average Score: 0
Recent Score: [7, 12, 12, 29]
Recent Grade: ['A', 'A', 'A', 'C']
------------------------
Cuisine: Ice Cream, Gelato, Yogurt, Ices
Average Score: 0
Recent Score: [12, 8, 5, 8]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Armenian
Average Score: 0
Recent Score: [10, 9, 11, 6, 10]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: African
Average Score: 0
Recent Score: [8, 6, 0, 0]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Tapas
Average Score: 0
Recent Score: [3, 15, 21, 12, 10, 14]
Recent Grade: ['A', 'B', 'B', 'A', 'A', 'B']
------------------------
Cuisine: Californian
Average Score: 0
Recent Score: [12, 12]
Recent Grade: ['A', 'A']
------------------------
Cuisine: Polynesian
Average Score: 0
Recent Score: [22, 21, 13, 10, 7]
Recent Grade: ['Z', 'B', 'A', 'A', 'A']
------------------------
Cuisine: Delicatessen
Average Score: 0
Recent Score: [10, 10, 8, 10, 13, 9]
Recent Grade: ['A', 'A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Spanish
Average Score: 0
Recent Score: [12, 13, 9, 10, 13]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Pancakes/Waffles
Average Score: 0
Recent Score: [11, 9, 3, 24, 13, 7]
Recent Grade: ['A', 'A', 'A', 'B', 'A', 'A']
------------------------
Cuisine: Not Listed/Not Applicable
Average Score: 0
Recent Score: [5, 2, 2, 10]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Donuts
Average Score: 0
Recent Score: [8, 9, 11, 10]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Greek
Average Score: 0
Recent Score: [9, 10, 10, 2, 7]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Czech
Average Score: 0
Recent Score: [12, 8, 9, 9, 9]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Tex-Mex
Average Score: 0
Recent Score: [12, 13, 7]
Recent Grade: ['A', 'A', 'A']
------------------------
Cuisine: Soul Food
Average Score: 0
Recent Score: [9, 2, 25, 13, 8]
Recent Grade: ['A', 'C', 'B', 'A', 'A']
------------------------
Cuisine: Bakery
Average Score: 0
Recent Score: [2, 6, 10, 9, 14]
Recent Grade: ['A', 'A', 'A', 'A', 'B']
------------------------
Cuisine: Nuts/Confectionary
Average Score: 0
Recent Score: [2, 20, 8, 2]
Recent Grade: ['A', 'B', 'A', 'A']
------------------------
Cuisine: Mexican
Average Score: 0
Recent Score: [10, 9, 13, 20]
Recent Grade: ['A', 'A', 'A', 'B']
------------------------
Cuisine: Café/Coffee/Tea
Average Score: 0
Recent Score: [10, 10, 9, 4, 12, 11, 24]
Recent Grade: ['A', 'A', 'A', 'P', 'A', 'A', 'B']
------------------------
Cuisine: Iranian
Average Score: 0
Recent Score: [12, 8, 12, 13, 36, 13]
Recent Grade: ['A', 'A', 'A', 'A', 'C', 'A']
------------------------
Cuisine: French
Average Score: 0
Recent Score: [15, 13, 36, 22, 36, 7]
Recent Grade: ['B', 'A', 'C', 'B', 'C', 'C']
------------------------
Cuisine: German
Average Score: 0
Recent Score: [11, 2, 27, 24, 20]
Recent Grade: ['A', 'A', 'B', 'B', 'B']
------------------------
Cuisine: Thai
Average Score: 0
Recent Score: [10, 24, 12, 4, 11, 6]
Recent Grade: ['A', 'B', 'A', 'C', 'A', 'P']
------------------------
Cuisine: Vegetarian
Average Score: 0
Recent Score: [13, 19, 12, 10]
Recent Grade: ['A', 'B', 'A', 'A']
------------------------
Cuisine: Australian
Average Score: 0
Recent Score: [4, 2, 9, 4, 10, 12, 9]
Recent Grade: ['A', 'A', 'A', 'A', 'A', 'A', 'P']
------------------------
Cuisine: Chilean
Average Score: 0
Recent Score: [6]
Recent Grade: ['A']
------------------------
Cuisine: Pizza
Average Score: 0
Recent Score: [3, 11, 12, 4, 2, 0]
Recent Grade: ['A', 'A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Creole
Average Score: 0
Recent Score: [17, 21, 10, 0, 2]
Recent Grade: ['B', 'B', 'A', 'C', 'C']
------------------------
Cuisine: Pizza/Italian
Average Score: 0
Recent Score: [11, 9, 12, 9]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Pakistani
Average Score: 0
Recent Score: [14, 12, 13, 8, 12, 4, 9]
Recent Grade: ['B', 'A', 'A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Hotdogs/Pretzels
Average Score: 0
Recent Score: [9, 3, 5, 9]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Bottled beverages, including water, sodas, juices, etc.
Average Score: 0
Recent Score: [8, 4, 12, 8, 20]
Recent Grade: ['A', 'A', 'A', 'A', 'B']
------------------------
Cuisine: Hawaiian
Average Score: 0
Recent Score: [29, 12, 9, 41, 9]
Recent Grade: ['C', 'C', 'A', 'C', 'A']
------------------------
Cuisine: Indian
Average Score: 0
Recent Score: [7, 5, 11, 2]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Chinese
Average Score: 0
Recent Score: [21, 7, 56, 27, 27]
Recent Grade: ['B', 'A', 'C', 'B', 'B']
------------------------
Cuisine: Chinese/Japanese
Average Score: 0
Recent Score: [12, 5, 23, 9, 5]
Recent Grade: ['A', 'A', 'B', 'C', 'A']
------------------------
Cuisine: Ethiopian
Average Score: 0
Recent Score: [9, 13, 7, 12]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Filipino
Average Score: 0
Recent Score: [8, 13, 3, 3]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Continental
Average Score: 0
Recent Score: [9, 8, 26, 7, 25]
Recent Grade: ['A', 'A', 'B', 'A', 'B']
------------------------
Cuisine: Soups
Average Score: 0
Recent Score: [9, 4, 2]
Recent Grade: ['A', 'A', 'A']
------------------------
Cuisine: Italian
Average Score: 0
Recent Score: [12, 7, 10, 12]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Afghan
Average Score: 0
Recent Score: [9, 8, 13, 7, 10]
Recent Grade: ['A', 'A', 'A', 'A', 'P']
------------------------
Cuisine: Mediterranean
Average Score: 0
Recent Score: [13, 8, 15, 8, 27]
Recent Grade: ['A', 'A', 'B', 'A', 'B']
------------------------
Cuisine: Vietnamese/Cambodian/Malaysia
Average Score: 0
Recent Score: [13, 13, 3, 4, 10]
Recent Grade: ['A', 'A', 'C', 'A', 'A']
------------------------
Cuisine: Peruvian
Average Score: 0
Recent Score: [11, 2, 6, 12, 6]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Barbecue
Average Score: 0
Recent Score: [13, 7, 12, 5, 11]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: English
Average Score: 0
Recent Score: [8, 9, 10, 5]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Southwestern
Average Score: 0
Recent Score: [12, 10, 10, 13]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Steak
Average Score: 0
Recent Score: [12, 10, 3, 12, 13]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Latin (Cuban, Dominican, Puerto Rican, South & Central American)
Average Score: 0
Recent Score: [11, 11, 7, 13, 10]
Recent Grade: ['A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Bangladeshi
Average Score: 0
Recent Score: [7, 12, 12, 10]
Recent Grade: ['A', 'A', 'A', 'A']
------------------------
Cuisine: Juice, Smoothies, Fruit Salads
Average Score: 0
Recent Score: [5, 12, 2]
Recent Grade: ['A', 'A', 'A']
------------------------
Cuisine: Asian
Average Score: 0
Recent Score: [11, 9, 18, 12, 2]
Recent Grade: ['A', 'A', 'B', 'A', 'A']
------------------------
Cuisine: Salads
Average Score: 0
Recent Score: [10, 13, 2, 13, 13, 11]
Recent Grade: ['A', 'A', 'A', 'A', 'A', 'A']
------------------------
Cuisine: Creole/Cajun
Average Score: 0
Recent Score: [5, 11, 2]
Recent Grade: ['A', 'A', 'A']
------------------------
Cuisine: Eastern European
Average Score: 0
Recent Score: [5, 21, 9, 17, 25, 15]
Recent Grade: ['A', 'B', 'A', 'B', 'B', 'B']
------------------------
Cuisine: Polish
Average Score: 0
Recent Score: [2, 3, 6, 54]
Recent Grade: ['A', 'A', 'A', 'C']
------------------------
Cuisine: Jewish/Kosher
Average Score: 0
Recent Score: [20, 13, 13, 25]
Recent Grade: ['Z', 'A', 'A', 'B']
------------------------
Cuisine: Japanese
Average Score: 0
Recent Score: [12, 10, 7, 7, 16]
Recent Grade: ['A', 'A', 'A', 'A', 'B']
------------------------

In [87]:
for result in qresult:
        print(result)

 ### Q2.Which boroughs show the most demand for specific cuisine categories?

### Q3. What location would be the best choice for opening a new restaurant in New york?